:root {
	--font-1: 'Source Sans Pro', sans-serif;
	--font-2: 'Bitter', 'Antic Slab', serif;

	--color-text: rgb(250, 250, 250);
}

.dark-mode {
	--color-text: #222;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media (max-width: 650px) {
		font-size: 56.25%;
	}
}

::selection {
	background: var(--color-primary-lightest);
	color: var(--color-primary-darkest);
}

:focus {
	outline: none;
}

body {
	font-size: 1.8rem;
	font-family: var(--font-1);

	color: rgba(255, 255, 255, 0.65);
}

a {
	text-decoration: none;
	color: inherit;
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: var(--color-primary);
	display: flex;
	flex-direction: column;
}

#quote-box {
	max-width: 60rem;
	width: 100%;
	box-shadow: 5px 5px 1rem rgba(85, 85, 85, 0.1);
	border-radius: 4px;
	padding: 2.8em;
	background: rgba(255, 255, 255, 0.3);

	display: flex;
	flex-direction: column;

	@media (max-width: 650px) {
		padding: 2em;
	}
	@media (max-width: 450px) {
		padding: 1.5em;
	}
}

#text {
	font-family: var(--font-2);
	font-size: 3rem;
	text-align: center;
	color: var(--color-primary-darker);
}

#quotation-mark {
	display: inline-block;
	.bx {
		font-size: 1.05em;
		transform: translateY(2px);
		margin-right: 0.2em;
	}
}

#author {
	align-self: flex-end;
	font-size: 2rem;
	font-weight: 400;
	margin-top: 1.6rem;
	color: var(--color-primary-dark);
}

.options {
	margin-top: 2.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.bx {
		display: block;
		font-size: 2.4rem;
	}
}

.btn {
	font: inherit;
	color: inherit;
	border: none;
	background: var(--color-primary);
	padding: 0.5em;
	border-radius: 4px;
	cursor: pointer;
	opacity: 1;
	transition: all 200ms ease;
	box-shadow: 2px 2px 1rem 0.1rem var(--color-primary-shadow);
	font-weight: 400;

	&:hover {
		background: var(--color-primary-dark);
		box-shadow: 2px 2px 1rem 0.5rem var(--color-primary-shadow);
		color: white;
	}
}

#new-quote {
	padding-left: 0.9em;
	padding-right: 0.9em;
}

.me {
	margin-top: 3.2rem;

	color: var(--color-primary-lightest);
	a {
		color: var(--color-primary-darkest);
		transition: transform 200ms ease;
		display: inline-block;

		&:hover {
			transform: scale(1.05) rotate(10deg) translateX(5px);
		}
	}
}
